doctype html
html
  head
    include ../public/links.pug
  body
    section.sub-header
      include ../public/nav.pug
      .bodytext
        h1 About us 
    section.about
      div
        h2 We are the world&apos;s biggest university
        p
          | Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,
        a.btn2(href='#') EXPLORE NOW
      div
        img(src='../images/about.jpg')
    include footer
    // ----js add--
    script(src='../script.js')