<!DOCTYPE html>
<html>
  <head>
    <title>University</title>
    <meta name="viewport" content="with-device-width, initial-scale =1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </head>
  <body>
    <section class="header">
      <nav><a href="index.html"><img src="../images/logo.png"></a>
        <div class="navlinks" id="navlinks">
          <ul><i class="fas fa-times" onclick="closemenu()"></i>
            <li><a href="index.html">HOME</a></li>
            <li><a href="About%20Us.html">ABOUT</a></li>
            <li><a href="Courses.html">COURSE</a></li>
            <li><a href="Blog.html">BLOG</a></li>
            <li><a href="Contact%20Us.html">CONTACT</a></li>
            <li><a href="Account.html">ACCOUNT</a></li>
            <li> <a href="Account.html">HI </a></li>
          </ul>
        </div><i class="fas fa-bars" onclick="showmenu()"></i>
      </nav>
      <div class="accounts">
        <div class="acc-box">
          <div id="botn"></div>
          <button class="acc-btn" onclick="logintog()"> Login</button>
          <button class="acc-btn" onclick="regestertog()"> Register </button>
        </div>
        <div class="socialico"><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i></div>
        <form class="login" id="login55" method="post" action="/login">
          <input id="inputus" name="user" type="text" placeholder=" Username or Email.." required="">
          <input id="inputps" name="pass" type="password" placeholder=" Password.." required="">
          <div class="remember">
            <input id="remember" type="checkbox"><span>Remember me</span>
          </div>
          <button class="btn2" type="submit" onclick="login()"> LOGIN  </button>
        </form>
        <form class="signup" id="signup55" action="includes/signup.inc.php">
          <input id="inputus" name="Uid" type="text" placeholder=" Username .." required="">
          <input id="inputus" name="Email" type="text" placeholder=" Email.." required="">
          <input id="inputps" name="Pwd" type="password" placeholder=" Password.." required="">
          <input id="inputps" name="Pwd2" type="password" placeholder=" Password Again.." required="">
          <div class="remember"></div>
          <button class="btn2" name="submit" onclick="login()"> Sign up  </button>
        </form>
      </div>
    </section>
    <!-- ----js add---->
    <script src="../script.js"></script>
  </body>
</html>