doctype html
html
  head
    include links.pug
  body
    section.header
      include nav.pug
      .accounts
        .acc-box
          #botn
          button.acc-btn(onclick='logintog()')  Login
          button.acc-btn(onclick='regestertog()')  Register 
        .socialico
          i.fab.fa-facebook
          i.fab.fa-twitter
        form#login55.login(method='post', action='/login')
          input#inputus(name='user', type='text', placeholder=' Username or Email..', required='')
          input#inputps(name='pass', type='password', placeholder=' Password..', required='')
          .remember
            input#remember(type='checkbox')
            span Remember me
          button.btn2(type='submit', onclick='login()')  LOGIN  
        form#signup55.signup(action='includes/signup.inc.php')
          input#inputus(name='Uid', type='text', placeholder=' Username ..', required='')
          input#inputus(name='Email', type='text', placeholder=' Email..', required='')
          input#inputps(name='Pwd', type='password', placeholder=' Password..', required='')
          input#inputps(name='Pwd2', type='password', placeholder=' Password Again..', required='')
          .remember
          button.btn2(name='submit', onclick='login()')  Sign up  
    // ----js add--
    script(src='script.js')