doctype html
html
  head
    include ../public/links.pug
  body
    section.header
      include  ../public/nav.pug
      .accounts
        .acc-box
          #botn
          button.acc-btn(onclick='logintog()')  Login
          button.acc-btn(onclick='regestertog()')  Register 
        .socialico
          i.fab.fa-facebook
          i.fab.fa-twitter
        if message
          h4.alert #{message}
        form#login55.login(method='POST', action='/user/login')
          input#inputus1(name='user', type='text', placeholder='Email..', required='')
          input#inputps1(name='pass', type='password', placeholder=' Password..', required='')
          .remember
            input#remember(type='checkbox')
            span Remember me
          button.btn2(type='sumbit')  LOGIN  
        form#signup55.signup(action='/user/signup' , method='POST')
          input#inputus(name='Uid', type='text', placeholder=' Username ..', required='')
          input#inputus2(name='Email', type='text', placeholder=' Email..', required='')
          input#inputps(name='Pwd', type='password', placeholder=' Password..', required='')
          input#inputps2(name='Pwd2', type='password', placeholder=' Password Again..', required='')
          .remember
          button.btn2(type='sumbit')  Sign up  
        
        

    // ----js add--
    script(src='../script.js')