doctype html
html
  head
    include ../public/links.pug
  body
    section.sub-header
      include ../public/nav.pug
      .bodytext
        h1 Our Certificate &amp; Online Programs For 2021 
    section.row
      .blog-left
        img(src='../images/certificate.jpg')
        h3 Our Certificate &amp; Online Programs For 2021
        p
          | Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est.
          br
          |  Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu.
          br
          |  Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est.
          br
          br
          |  Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu.
          br
          |  Ad qui clita definiebas.Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus, est justo iuvaret eu. Ad qui clita definiebas.
      .blog-right
        h3 Post Categories
        div
          span Business Analytics
          span 21
        div
          span Data Science
          span 28
        div
          span Machine Learning
          span 15
        div
          span Computer Science
          span 34
        div
          span AutoCAD
          span 42
        div
          span Journalism
          span 22
        div
          span Commerce
          span 30
    .rateus
      h3#title12  RATE US    
      .post
        h2  Thank&apos;s For Rating us
      .star
        input#rate-5(type='radio', name='rate')
        label.fas.fa-star(for='rate-5')
        input#rate-4(type='radio', name='rate')
        label.fas.fa-star(for='rate-4')
        input#rate-3(type='radio', name='rate')
        label.fas.fa-star(for='rate-3')
        input#rate-2(type='radio', name='rate')
        label.fas.fa-star(for='rate-2')
        input#rate-1(type='radio', name='rate')
        label.fas.fa-star(for='rate-1')
        |  
        br
        br
        br
        form.comment(action='#')
          textarea(placeholder='Drop Your Comment..', cols='30')
          a.btn3(onclick='rate()') Post
    include footer
    // ----js add--
    script(src='../script.js')