doctype html
html
  head
    title University
    meta(name='viewport', content='with-device-width, initial-scale =1.0')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&display=swap', rel='stylesheet')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Style+Script&display=swap', rel='stylesheet')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', integrity='sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==', crossorigin='anonymous', referrerpolicy='no-referrer')
  body
    section.sub-header
      nav
        a(href='index.html')
          img(src='images/logo.png')
        #navlinks.navlinks
          ul
            i.fas.fa-times(onclick='closemenu()')
            li
              a(href='index.html') HOME
            li
              a(href='About%20Us.html') ABOUT
            li
              a(href='Courses.html') COURSE
            li
              a(href='Blog.html') BLOG
            li
              a(href='Contact%20Us.html') CONTACT
            li
              a(href='Account.html') ACCOUNT
        i.fas.fa-bars(onclick='showmenu()')
      .bodytext
        h1 Contact us 
    section.location
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78254.29930198698!2d0.04994745749619973!3d52.198926585516695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d85d89f32a012d%3A0x63a320e1a35e3d21!2sCambridge%2C%20UK!5e0!3m2!1sen!2seg!4v1629948967213!5m2!1sen!2seg', width='600', height='450', style='border:0;', allowfullscreen='', loading='lazy')
    section.contactus
      .row
        .contact-col1
          div
            i.fas.fa-home
            |  
            span
              h5 123 Road - 256 Building
              p Cairo - Egypt
          |  
          div
            i.fas.fa-phone
            span
              h5 +20-1279792658
              p 7AM-4PM
          div
            i.fas.fa-envelope-open-text
            span
              h5 fadygamilha@gmail.com
              p Email us anytime
        .contact-col2
          form(action='#')
            input(type='text', placeholder='Enter Your Name', required='')
            input(type='text', placeholder='Enter Your E-mail', required='')
            input(type='text', placeholder='Enter Your Subject', required='')
            textarea(rows='8', placeholder='Enter Your Message', required='')
            button.btn2(onclick='message()') Send
    section.end
      h3 About Us
      p
        | Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,
        br
        |  est justo iuvaret eu. Ad qui clita definiebas.
      .links
        i.fab.fa-facebook
        i.fab.fa-whatsapp
        i.fab.fa-instagram
        i.fab.fa-behance
    // ----js add--
    script(src='script.js')