<!DOCTYPE html>
<html>
  <head>
    <title>University</title>
    <meta name="viewport" content="with-device-width, initial-scale =1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300;1,400&amp;display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Style+Script&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </head>
  <body>
    <section class="header">
      <nav><a href="index.html"><img src="../images/logo.png"></a>
        <div class="navlinks" id="navlinks">
          <ul><i class="fas fa-times" onclick="closemenu()"></i>
            <li><a href="index.html">HOME</a></li>
            <li><a href="About%20Us.html">ABOUT</a></li>
            <li><a href="Courses.html">COURSE</a></li>
            <li><a href="Blog.html">BLOG</a></li>
            <li><a href="Contact%20Us.html">CONTACT</a></li>
            <li><a href="Account.html">ACCOUNT</a></li>
            <li> <a href="Account.html">HI </a></li>
          </ul>
        </div><i class="fas fa-bars" onclick="showmenu()"></i>
      </nav>
      <div class="bodytext">
        <h1>World&apos;s Biggest University </h1>
        <p>Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,<br> est justo iuvaret eu. Ad qui clita definiebas. <br> Id sed maluisset principes suscipiantur, nam sumo autem intellegat in. <br> Ea singulis accusata eum. Summo persius abhorreant mel in.</p><a class="btn" href="About%20Us.html">Know more about us</a>
        <div class="signinout"><a class="btn" href="Account.html">Sign up NOW!</a></div>
      </div>
    </section>
    <section class="course">
      <h1>Courses we offer</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row">
        <div class="course-row">
          <h3>Intermediate</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales lacus eget risus facilisis ornare. Sed vel gravida magna. Pellentesque id lobortis ex, ut faucibus magna. Vestibulum vel scelerisque justo. Vestibulum ut ipsum ut massa egestas imperdiet et ut orci. Mauris mi justo, sollicitudin nec dolor at, sagittis faucibus eros.</p>
        </div>
        <div class="course-row">
          <h3>Degree</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales lacus eget risus facilisis ornare. Sed vel gravida magna. Pellentesque id lobortis ex, ut faucibus magna. Vestibulum vel scelerisque justo. Vestibulum ut ipsum ut massa egestas imperdiet et ut orci. Mauris mi justo, sollicitudin nec dolor at, sagittis faucibus eros.</p>
        </div>
        <div class="course-row">
          <h3>Post Graduation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales lacus eget risus facilisis ornare. Sed vel gravida magna. Pellentesque id lobortis ex, ut faucibus magna. Vestibulum vel scelerisque justo. Vestibulum ut ipsum ut massa egestas imperdiet et ut orci. Mauris mi justo, sollicitudin nec dolor at, sagittis faucibus eros.</p>
        </div>
      </div><a class="btn2" href="Courses.html">Know more about courses</a>
    </section>
    <section class="campus">
      <h1>Our Global Campus</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row">
        <div class="campus-row"><img src="../images/london.png"> 
          <div class="layer">
            <h3>LONDON</h3>
          </div>
        </div>
        <div class="campus-row"><img src="../images/newyork.png"> 
          <div class="layer">
            <h3>NEW YORK</h3>
          </div>
        </div>
        <div class="campus-row"><img src="../images/washington.png">
          <div class="layer">
            <h3>WASHINGTON</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="facilities">
      <h1>Our Facilities</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row">
        <div class="fac-row"><img src="../images/library.png">
          <div class="fac-text">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="fac-row"><img src="../images/basketball.png">
          <div class="fac-text">
            <h3>Largest Play Ground</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="fac-row"><img src="../images/cafeteria.png">
          <div class="fac-text">
            <h3>Tasty and Healthy Food</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="rates">
      <h1>What Our Student Says</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="row">
        <div class="card"><img src="../images/user1.jpg">
          <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elite.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3>Mariam Nabil</h3>
            <div class="stars"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
          </div>
        </div>
        <div class="card"><img src="../images/user2.jpg">
          <div class="card-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elite.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <h3>Mark Ibrahim</h3><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <h1>Enroll For Our Various Online Courses Anywhere Form The World</h1><a class="btn" href="Contact%20Us.html">Contact Us</a>
    </section>
    <section class="end">
      <h3>About Us</h3>
      <p>Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,<br> est justo iuvaret eu. Ad qui clita definiebas.</p>
      <div class="links"><i class="fab fa-facebook"></i><i class="fab fa-whatsapp"></i><i class="fab fa-instagram"></i><i class="fab fa-behance"></i></div>
    </section>
    <!-- ----js add---->
    <script src="../script.js"></script>
  </body>
</html>