doctype html
html
  head
    include ../public/links.pug 
  body
    section.header
      include ../public/nav.pug
      .bodytext
        h1 World&apos;s Biggest University 
        p
          | Eu eros vulputate suscipiantur est. Cu qui commodo minimum delectus,
          br
          |  est justo iuvaret eu. Ad qui clita definiebas. 
          br
          |  Id sed maluisset principes suscipiantur, nam sumo autem intellegat in. 
          br
          |  Ea singulis accusata eum. Summo persius abhorreant mel in.
        a.btn(href='About%20Us.html') Know more about us
        .signinout
          a.btn(href='Account.html') Sign up NOW!
    section.course
      h1 Courses we offer
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .row
        .course-row
          h3 Intermediate
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales lacus eget risus facilisis ornare. Sed vel gravida magna. Pellentesque id lobortis ex, ut faucibus magna. Vestibulum vel scelerisque justo. Vestibulum ut ipsum ut massa egestas imperdiet et ut orci. Mauris mi justo, sollicitudin nec dolor at, sagittis faucibus eros.
        .course-row
          h3 Degree
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales lacus eget risus facilisis ornare. Sed vel gravida magna. Pellentesque id lobortis ex, ut faucibus magna. Vestibulum vel scelerisque justo. Vestibulum ut ipsum ut massa egestas imperdiet et ut orci. Mauris mi justo, sollicitudin nec dolor at, sagittis faucibus eros.
        .course-row
          h3 Post Graduation
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales lacus eget risus facilisis ornare. Sed vel gravida magna. Pellentesque id lobortis ex, ut faucibus magna. Vestibulum vel scelerisque justo. Vestibulum ut ipsum ut massa egestas imperdiet et ut orci. Mauris mi justo, sollicitudin nec dolor at, sagittis faucibus eros.
      a.btn2(href='Courses.html') Know more about courses
    section.campus
      h1 Our Global Campus
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .row
        .campus-row
          img(src='../images/london.png')
          |  
          .layer
            h3 LONDON
        .campus-row
          img(src='../images/newyork.png')
          |  
          .layer
            h3 NEW YORK
        .campus-row
          img(src='../images/washington.png')
          .layer
            h3 WASHINGTON
    section.facilities
      h1 Our Facilities
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .row
        .fac-row
          img(src='../images/library.png')
          .fac-text
            h3 World Class Library
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .fac-row
          img(src='../images/basketball.png')
          .fac-text
            h3 Largest Play Ground
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .fac-row
          img(src='../images/cafeteria.png')
          .fac-text
            h3 Tasty and Healthy Food
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    section.rates
      h1 What Our Student Says
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .row
        .card
          img(src='../images/user1.jpg')
          .card-text
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elite.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            h3 Mariam Nabil
            .stars
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
        .card
          img(src='../images/user2.jpg')
          .card-text
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elite.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            h3 Mark Ibrahim
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star-half-alt
            i.far.fa-star
    section.footer
      h1 Enroll For Our Various Online Courses Anywhere Form The World
      a.btn(href='Contact%20Us.html') Contact Us
    include footer.pug
    // ----js add--
    script(src='../script.js')