nav
        a(href='index.html')
          img(src='../images/logo.png')
        #navlinks.navlinks
          ul
            i.fas.fa-times(onclick='closemenu()')
            li
              a(href='index.html') HOME
            li
              a(href='About%20Us.html') ABOUT
            li
              a(href='Courses.html') COURSE
            li
              a(href='Blog.html') BLOG
            li
              a(href='Contact%20Us.html') CONTACT
            li
              a(href='Account.html') ACCOUNT
            li 
              a(href='Account.html') HI #{name}
        i.fas.fa-bars(onclick='showmenu()')