
<nav><a href="index.html"><img src="../images/logo.png"/></a>
  <div class="navlinks" id="navlinks">
    <ul><i class="fas fa-times" onclick="closemenu()"></i>
      <li><a href="index.html">HOME</a></li>
      <li><a href="About%20Us.html">ABOUT</a></li>
      <li><a href="Courses.html">COURSE</a></li>
      <li><a href="Blog.html">BLOG</a></li>
      <li><a href="Contact%20Us.html">CONTACT</a></li>
      <li><a href="Account.html">ACCOUNT</a></li>
      <li> <a href="Account.html">HI </a></li>
    </ul>
  </div><i class="fas fa-bars" onclick="showmenu()"></i>
</nav>