nav
        a(href='index.html')
          img(src='../images/logo.png')
        #navlinks.navlinks
          ul
            i.fas.fa-times(onclick='closemenu()')
            li
              a(href='/') HOME
            li
              a(href='/aboutus') ABOUT
            li
              a(href='/courses') COURSE
            li
              a(href='/blog') BLOG
            li
              a(href='/contactus') CONTACT
            li
              a(href='/account') ACCOUNT
            li 
              a(href='Account.html') HI #{name}
        i.fas.fa-bars(onclick='showmenu()')